.castList {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 10px;
  & .castItem {
    width: 100px;
    border: 1px solid #daa520;
    padding: 2px;
    & .image {
    }
    & .name {
      font-weight: 700;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.9);
    }
    & .character {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.8);
    }
  }
}
